<div class="jumbotron">
  <div class="jumbotron-background">
    <img src="../assets/arts/drawing/drawing4.jpg" class="blur" />
    <img src="../assets/arts/drawing/drawing5.jpg" class="blur top" />
  </div>

  <div id="intro-container1" class="container">
    <h3 class="intro-head" id="intro-head-big">
      Welcome to Kate's place!
    </h3>
    <p class="intro-detail" id="intro-detail-big">
      I like drawing and painting, click the button to check it out!
    </p>
    <h3 class="intro-head" id="intro-head-small">
      Welcome to Kate's place!
    </h3>
    <p class="intro-detail" id="intro-detail-small">
      I like drawing and painting, click the button to check it out.
    </p>
    <a href="./drawing" class="btn btn-primary">MY DRAWINGS</a>
  </div>  
</div>
