<div class="sketch-tool-container">
    <div id="sketch-tool-pencil" class="sketch-tool active" (click)="pickTool($event)">
        <i class="fas fa-pencil-alt" aria-hidden="true" title="pencil"></i>
    </div>
    <div id="sketch-tool-eraser" class="sketch-tool" (click)="pickTool($event)">
        <i class="fas fa-eraser" aria-hidden="true" title="eraser"></i>
    </div>
    <div id="sketch-tool-image" class="sketch-tool" (click)="pickTool($event)">
        <i class="fas fa-image" aria-hidden="true" title="load image"></i>
    </div>   
</div>