<div class="container-fluid">
  <nav class="nav">
    <input type="checkbox" id="check" [ngModel]="isChecked" (ngModelChange)="checkboxChanged($event)">
    <label for="check" class="nav-icon"><i class="fas fa-bars"></i></label>
    <div class="logo">
      <a routerLink="/home" routerLinkActive="active"><img src="../assets/logo.png" /></a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li (click)="hideNav()"><a routerLink="/drawings" routerLinkActive="active">My drawings</a></li>
        <li (click)="hideNav()"><a routerLink="/paintings" routerLinkActive="active">My paintings</a></li>
        <li (click)="hideNav()"><a routerLink="/graphics" routerLinkActive="active">My graphics</a></li>
        <li (click)="hideNav()"><a routerLink="/animations" routerLinkActive="active">My animations</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>      
</div>

