<div id="drawing-container" class="container pt-5" style="display: block;">
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <div *ngFor="let art of arts" class="card mb-5">
      <img class="img-fluid" id={{art.id}} (click)="showSlide(art.id)"
          src="../assets/arts/{{artType}}/a{{age}}/{{artType}}{{art.id}}-512.{{artType==='animations'?'gif':'png'}}" loading="lazy">
      <p class="card-footer">{{art.desc}}</p>
    </div>
  </div>
  <app-age-selector id="age-selector" (ageEvent)="ageSelected($event)"></app-age-selector>
</div>

<!-- <app-slider [ngStyle]="{'display': displaySlide ? 'block' : 'none'}"
            [artType]="artType" [selectedId]="selectedSlideId"
            (click)="hideSlide()"
></app-slider> -->

