<div id="dishDiv">
  <div #dishContainer id="dishContainer">
    <div class="left">
      <img src='../../assets/dishes/dish{{dish.id}}-512.png' width="80%" >
      <div class="text">
        <h1 class="title">
            {{dish.title}}
        </h1>
        <i class="fa fa-clock"> {{dish.time}} Mins</i>
        <i class="fa fa-users"> Serves {{dish.serve}}</i>
      </div>  
    </div>
    <div class="steps">
      <h1>步骤</h1>
      <p *ngFor='let step of dish.steps'>
        {{step}}
      </p>
    </div>
  </div>
</div>
<a href="/dishes">back</a>