#dishDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#dishContainer {
  width: 60%;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#dishContainer .left {
  width: 50%;
  background: #17BEBB;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 20px */
}

#dishContainer .fa-clock {
  color: gray;
  margin: 0 30px;
}
#dishContainer .fa-users {
  color: gray;
}


#dishContainer .steps {
  width: 50%;
  background: #FFE500;
  padding-left: 50px;
}

#dishContainer .steps p {
  font-size: 30px;
}



