<div class="palette-container">
    <div id="palette-color-1" class="palette-color active" (click)="pickColor($event)"></div>
    <div id="palette-color-2" class="palette-color" (click)="pickColor($event)"></div>
    <div id="palette-color-3" class="palette-color" (click)="pickColor($event)"></div>
    <div id="palette-color-4" class="palette-color" (click)="pickColor($event)"></div>
    <div id="palette-color-5" class="palette-color" (click)="pickColor($event)"></div>
    <div id="palette-color-6" class="palette-color" (click)="pickColor($event)"></div>
    <div id="palette-color-7" class="palette-color" (click)="pickColor($event)"></div>
</div>
