<div class="video-container">
  <video
    controls
    preload="auto"
    width="70%"
    style="
      border-style: solid;
      border-color: lightblue;
      border-width: 2px;
      max-height: calc(100vh * 0.7);
    "
    #videoElement
  >
    <source
      type="video/mp4"
      id="videoSource"
    />
    Sorry, your browser doesn't support embedded videos.
  </video>

  <div id="videoNav" class="d-flex justify-content-center mt-5">
    <button (click)="nextVideo()" class="btn btn-primary mx-5 px-5" id="prevBtn"><i class="fa fa-angle-double-left"></i></button>
    <button (click)="preVideo()" class="btn btn-primary mx-5 px-5" id="nextBtn"><i class="fa fa-angle-double-right"></i></button>
  </div>
</div>